@import '../../../../index.scss';
@import '../../../../sass/mixins';


.invoice {
  margin-top: 32px;
  // margin-bottom: 60px;
  // @media (max-width: $sm-media) {
  //   margin-top: 190px;
  // }
  &__container {
    width: 90%;
    margin: 0px auto;
    padding-left: 16px;
    padding-right: 16px;
    @media (max-width: $sm-media) {
      width: 100%;
    }
    @media (max-width: $xs-media) {
      padding-left: 8px;
      padding-right: 8px;
    }
    .orderSummary {
      flex: 1 0 48%;
      @media (max-width: $lg-media) {
        flex: 1 0 100%;
      }
      .titleSm {
        color: $primary;
        font-size: 24px;
        margin-bottom: 16px;
        width: 100%;
        text-align: center;
      }

      .topHead,
      .wrapperInvoice,
      .wrapper {
        border: 1px solid $gray-c2c8cc;
        @include borderRadius(6px);
        overflow: hidden;
        width: 70%;
        margin: 0px auto;
        margin-bottom: 32px;
        @media (max-width: $xl-media) {
          width: 80%;
        }
        @media (max-width: $lg-media) {
          width: 100%;
        }

        .priceSummary {
          background: $gray-f1;
          // padding: 24px 0px 0px;
          .payTitle {
            padding: 0px 16px;
            p {
              color: $primary;
              font-weight: 400;
              font-size: 18px;
              margin-bottom: 8px;
            }
            @media (max-width: $sm-media) {
              text-align: center;
            }
          }
          .subTotal,
          .total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            padding-inline-end: 16px;
            @media (max-width: $xs-media) {
              flex-direction: column;
              justify-content: center;
              gap: 8px;
            }
            .text {
              color: $gray-233746;
              font-size: 18px;
              font-weight: 400;
            }
            .textBold {
              color: $primary;
              font-size: 18px;
              font-weight: 700;
            }
          }
          .subTotal {
            padding: 6px 16px;
            background: $gray-d8;
            border-bottom: 7px solid $gray-f1;
          }
          .total {
            padding: 16px;
            background-color: $gray-9cc6b6;
            .text {
              font-size: 20px;
              font-weight: 600;
            }
            .textBold {
              font-size: 22px;
              color: $gray-700;
            }
          }
        }
      }

      .wrapper {
        .invoiceDetails {
          padding-top: 8px;
          padding-bottom: 16px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          .invItem {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            padding: 4px 8px;
            @media (max-width: $xs-media) {
              // gap: 4px;
            }
            &:first-of-type {
              border-bottom: 1px solid $gray-c2c8cc;
              span {
                text-transform: capitalize;
                font-weight: 600;
                color: $gray-400;
              }
            }
            span {
              text-transform: capitalize;
              color: $gray-233746;
            }
            .name {
              flex: 4;
              text-transform: capitalize;
              color: $gray-233746;
              font-weight: 600;
            }
            .quantity {
              flex: 1;
            }
            .price {
              flex: 1;
            }
            .total {
              flex: 1;
            }
          }
        }
        
      }

      .topHead {
        background-color: $gray-f1;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        gap: 16px;
        padding: 16px;
        @media (max-width: $md-media) {
          flex-direction: column;
          align-items: flex-start;
        }
        @media (max-width: $xs-media) {
          padding-left: 8px;
          padding-right: 8px;
        }
        .companyDetails {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 4px;
          .compTitle {
            color: $primary;
            margin-bottom: 8px;
            font-size: 26px;
          }
          .textAddress {
            color: $gray-400;
            font-weight: 400;
            // display: flex;
            // flex-direction: column;
            // gap: 4px;
          }
        }
        .invoiceDetails {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 8px;
          @media (max-width: $md-media) {
            width: 100%;
            justify-content: flex-end;
          }
          .numbers {
            display: flex;
            gap: 16px;
            justify-content: flex-end;
            align-items: center;
            @media (max-width: $xs-media) {
              flex-direction: column;
              align-items: flex-start;
              gap: 4px;
            }

            .boxTitle {
              font-weight: 600;
              color: $gray-233746;
            }
            .boxInfo {
              border: 1px solid $gray-c2c8cc;
              @include borderRadius(4px);
              padding: 8px;
              min-width: 200px;
              background-color: $gray-100;
              // text-align: center;
              @media (max-width: $lg-media) {
                min-width: 150px;
              }
              @media (max-width: $lg-media) {
                min-width: 200px;
              }
              @media (max-width: $xs-media) {
                width: 100%;
              }
            }
          }
        }
      }

      .wrapperInvoice {
        display: flex;
        background-color: $gray-f1;
        @media (max-width: $md-media) {
          flex-direction: column;
          gap: 16px;
        }
        .invoiceTo,
        .billTo {
          flex: 1;
          padding: 16px 0px;
          .invTitle {
            padding: 0px 16px;
            color: $gray-700;
            font-size: 18px;
            margin-bottom: 8px;
            width: fit-content;
            // border-bottom: 2px solid $gray-700;
          }
          .userInfo {
            display: flex;
            // align-items: center;
            @media (max-width: $md-media) {
              flex-direction: column;
              gap: 4px;
            }
            .info {
              flex: 1;
              display: flex;
              flex-direction: column;
              gap: 4px;
              padding: 0px 4px;
              .text {
                padding: 8px 16px;
                color: $gray-400;
                font-weight: 400;
                display: flex;
                justify-content: space-between;
                gap: 8px;
                background: $gray-d8;
                @media (max-width: $xs-media) {
                  flex-direction: column;
                }
                @include borderRadius(4px);
                span {
                  &:first-of-type {
                    font-weight: 600;
                    font-size: 15px;
                  }
                  &:last-of-type {
                    @media (max-width: $xs-media) {
                      text-align: end;
                    }
                  }
                }
              }
            }
          }
        }
        .billTo {
          border-inline-start: 1px solid $gray-c2c8cc;
          @media (max-width: $md-media) {
            border-inline-start: none;
          }
        }
      }
    }
    .goHome {
      margin-top: 32px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .goOrdrsBtn {
        font-size: 18px;
        font-weight: 600;
        color: $white;
        background-color: $primary;
        border: 1px solid $primary;
        padding: 8px 16px;
        @include borderRadius(4px);
        @include transition(0.2s);
        opacity: 1;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}