@import '../../index.scss';
@import '../../sass/mixins';

.checkout {
  margin-top: 60px;
  margin-bottom: 60px;
  @media (max-width: $sm-media) {
    margin-top: 190px;
    margin-top: 120px;
  }
  &__container {
    width: 85%;
    margin: 0px auto;
    padding-left: 16px;
    padding-right: 16px;
    @media (max-width: $xl-media) {
      width: 90%;
    }
    @media (max-width: $sm-media) {
      width: 95%;
    }

    .orderWrapper {
      margin-top: 64px;
      display: flex;
      gap: 16px;
      @media (max-width: $lg-media) {
        flex-direction: column;
        gap: 32px;
      }
      .orderAddress {
        flex: 0 0 48%;
        @media (max-width: $lg-media) {
          flex: 1 0 100%;
        }
        .payBtn {
          margin-top: 32px;
          padding: 10px 20px;
          width: fit-content;
          font-size: 18px;
          font-weight: 400;
          display: block;
          border: 1px solid $danger;
          background-color: $danger;
          color: $white;
          opacity: 1;
          &:hover {
            opacity: 0.7;
          }
          &:disabled {
            cursor: not-allowed;
            background-color: $gray-100;
            border-color: $gray-100;
          }
          @include borderRadius(4px);
          @include transition(0.3s);
      
          @media (max-width: $md-media) {
            // width: 70%;
            // flex: 1 0 100%;
          }
          @media (max-width: $sm-media) {
            // width: 90%;
          }
        }
      }
      .orderSummary {
        flex: 1 0 48%;
        @media (max-width: $lg-media) {
          flex: 1 0 100%;
        }
        .titleSm {
          color: $primary;
          font-size: 18px;
          margin-bottom: 16px;
        }
        &__wrapper {
          border: 1px solid $gray-c2c8cc;
          @include borderRadius(6px);
          overflow: hidden;
          padding: 14px 0px 0px;
          .orderSummList {
            padding: 0px 16px;
          }
          .deliveryInfo {
            display: flex;
            flex-direction: column;
            gap: 32px;
            border-top: 1px solid $gray-c2c8cc;
            border-bottom: 1px solid $gray-c2c8cc;
            background: $gray-f1;
            padding: 24px 16px;
            .delivAdd {
              display: flex;
              justify-content: space-between;
              @media (max-width: $md-media) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }
              .address {
                flex: 2;
                padding-inline-end: 16px;
                @media (max-width: $md-media) {
                  text-align: center;
                  padding-bottom: 16px;
                  margin-bottom: 16px;
                  border-bottom: 1px solid $gray-929ca3;
                }
                .editAddress {
                  display: flex;
                  align-items: center;
                  gap: 16px;
                  margin-bottom: 16px;
                  p {
                    color: $primary;
                    font-weight: 400;
                    font-size: 18px;
                  }
                  svg {
                    color: $gray-700;
                    fill: $gray-700;
                    font-size: 24px;
                  }
                }
                .selectedAddress {
                  p {
                    color: $gray-700;
                    font-size: 18px;
                  }
                }
              }
              .notes {
                flex: 3;
                padding-inline-start: 16px;
                border-inline-start: 1px solid $gray-929ca3;
                @media (max-width: $md-media) {
                  border-inline-start: none;
                  text-align: center;
                }
                .noteTtl {
                  font-weight: bold;
                  color: $gray-700;
                  margin-bottom: 8px;
                }
                .noteInfo {
                  color: $info;
                  // color: $gray-700;
                  font-size: 18px;
                  font-weight: 400;
                }
              }
            }
            .delivTime {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 8px;
              color: $gray-233746;
              font-size: 18px;
              .text {
                font-weight: 300;
              }
              .textBold {
                font-weight: 700;
              }
            }
          }
          .priceSummary {
            background: $gray-f1;
            padding: 24px 0px 0px;
            .payTitle {
              padding: 0px 16px;
              p {
                color: $primary;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 8px;
              }
              @media (max-width: $sm-media) {
                text-align: center;
              }
            }
            .subTotal,
            .total {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 16px;
              padding-inline-end: 16px;
              @media (max-width: $sm-media) {
                flex-direction: column;
                justify-content: center;
                gap: 8px;
              }
              .text {
                color: $gray-233746;
                font-size: 18px;
                font-weight: 400;
              }
              .textBold {
                color: $primary;
                font-size: 18px;
                font-weight: 700;
              }
            }
            .subTotal {
              padding: 6px 16px;
              background: $gray-d8;
              border-bottom: 7px solid $gray-f1;
            }
            .total {
              padding: 16px;
              background-color: $gray-9cc6b6;
              .text {
                font-size: 20px;
                font-weight: 600;
              }
              .textBold {
                font-size: 22px;
                color: $gray-700;
              }
            }
          }
        }
      }
    }
  }
}

.emptyCartWrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  @media (max-width: $sm-media) {
    margin-top: 190px;
    margin-top: 120px;
  }
  .emptyCart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    .emTitle {
      color: $gray-700;
      font-size: 22px;
    }
    .emIcon,
    .emIconAr {
      font-size: 52px;
      color: $gray-495057;
    }
    .emIconAr {
      @include transform(scaleX(-1));
    }
    .emShopNow {
      font-size: 18px;
      font-weight: bold;
      background-color: $primary;
      border: 1px solid $primary;
      color: $white;
      padding: 8px 16px;
      @include borderRadius(4px);
      @include transition(0.2s);
      &:hover {
        background-color: $white;
        color: $primary;
      }
    }
  
  }
}