@import '../../../index.scss';
@import '../../../sass/mixins';

.sortBy {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  .sortLabel {
    color: $gray-300;
  }
  .sortSelect {
    // border: 1px solid $gray-100;
    border: none;
    outline: none;
    padding-top: 4px;
    padding-bottom: 4px;
    option {
      padding: 16px;
      color: $gray-600;
    }
  }
}