@import '../../../index.scss';
@import '../../../sass/mixins';

.ask {
  width: 100%;
  .title {
    font-weight: 600;
    font-size: 14px;
    color: $gray-400;
    margin-bottom: 8px;
    display: block;
  }
  .answers {
    display: flex;
    align-items: center;
    gap: 8px;
    .ans {
      display: flex;
      align-items: center;
      gap: 8px;
      .radioInput {
        width: 14px;
        height: 14px;
        @include borderRadius(50%);
        outline: 2px solid $primary;
        border: 2px solid $white;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        &:checked {
          background-color: $gray-700;
        }
      }
      .radioLabel {
        font-weight: 600;
        font-size: 14px;
        color: $gray-400;
      }
    }
  }
}